<header class="header">
  <nav class="header-nav">
    <a href="#" class="link">Home</a>
    <a href="#about" class="link">About</a>
    <a href="#contacts" class="link">Contact</a>
  </nav>
  <div class="header-name">
    <a href="#" class="name">Landie</a>
  </div>
  <div class="header-button-buy">
    <button class="button button-buy" href="#kit">Buy Now</button>
  </div>
</header>

<main class="main">
  <section class="introduce" id="about">
    <div class="content">
      <h1 class="main_title title">Introduce Your Product Quickly & Effectively</h1>
      <p class="main_subtitle">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      </p>
      <p class="main_subtitle">
        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
      <div class="main-button">
        <button class="button" href="#kit">Purchase UI Kit</button>
        <button class="button button-white" href="#">Learn More</button>
      </div>
    </div>
  </section>

  <section class="about_title">
    <div class="content">
      <div class="text">
        <h2 class="title">Light, Fast & Powerful</h2>
        <p class="subtitle">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        </p>
        <p class="subtitle">
          mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
      <div class="advantage">
        <img src="assets/icons/icon.svg" alt="icon" class="icon">
        <h2 class="title desc-title">Title Goes Here</h2>
        <span class="desc-subtitle">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </span>
      </div>
      <div class="advantage">
        <img src="assets/icons/icon.svg" alt="icon" class="icon">
        <h2 class="title desc-title">Title Goes Here</h2>
        <p class="desc-subtitle">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        </p>
      </div>
    </div>
    <div class="picture">
      <img src="assets/images/picture_1.svg" alt="picture" class="img">
    </div>
  </section>

  <section class="about">
    <div class="picture">
      <img src="assets/images/picture_2.svg" alt="picture" class="img">
    </div>
    <div class="content">
      <h2 class="title">Light, Fast & Powerful</h2>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      </p>
      <p class="subtitle">
        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
    </div>
  </section>

  <section class="about">
    <div class="picture">
      <img src="assets/images/picture_3.svg" alt="picture" class="img">
    </div>
    <div class="content">
      <h2 class="title">Light, Fast & Powerful</h2>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      </p>
      <p class="subtitle">
        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
    </div>
  </section>

  <section class="about">
    <div class="picture">
      <img src="assets/images/picture_4.svg" alt="picture" class="img">
    </div>
    <div class="content">
      <h2 class="title">Light, Fast & Powerful</h2>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      </p>
      <p class="subtitle">
        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
    </div>
  </section>

  <section class="about_price" id="kits">
    <div class="price_title">
      <h2 class="title">A Price To Suit Everyone</h2>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      </p>
    </div>
    <div></div>
    <div class="kit">
      <h2 class="price">FREE </h2>
      <h3 class="title">UI Kit Demo</h3>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </p>
      <p class="subtitle">
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      </p>
      <button href="#" class="button">Purchase Now</button>
    </div>
    <div class="kit">
      <h2 class="price">$40</h2>
      <h3 class="title">Design Kit</h3>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </p>
      <p class="subtitle">
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      </p>
      <button href="#" class="button">Purchase Design Kit</button>
    </div>
    <div class="kit">
      <h2 class="price">$75</h2>
      <h3 class="title">Design & Code Package</h3>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
      </p>
      <p class="subtitle">
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
      </p>
      <button href="#" class="button">Purchase Package</button>
    </div>
  </section>
</main>

<footer class="footer-wrap">
  <div class="footer">
    <div class="copyright">©2019 UIX</div>
    <div class="footer-name">
      <a href="#" class="name">Landie</a>
    </div>
    <nav class="footer-nav">
      <div class="links">
        <a href="#" class="link">Home</a>
        <a href="#about" class="link">About</a>
        <a href="#contacts" class="link">Contact</a>
      </div>
      <div class="contacts" id="contacts">
        <img src="assets/icons/facebook.svg" alt="facebook" class="contacts-icon">
        <img src="assets/icons/linkedIn.svg" alt="linkedIn" class="contacts-icon">
        <img src="assets/icons/twitter.svg" alt="twitter" class="contacts-icon">
        <img src="assets/icons/youtube.svg" alt="youtube" class="contacts-icon">
        <img src="assets/icons/instagram.svg" alt="instagram" class="contacts-icon">
      </div>
    </nav>
  </div>
</footer>
