$name_color: #37447E;
$nav_header_color: #505F98;
$title_color: #091133;
$text_header_color: #505F98;
$text_color: #6F7CB2;
$button_color: #111B47;
$description_kit_color: #5D6970;
$footer_color: #E7ECFF;
$copyright_color: #939EA4;
$nav_footer_color: #929ECC;
